CSF.CITASWEB.WS/Web References/wsprecisa/SrvResultados.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SrvResultadoPdf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NroPeticion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SrvResultadoPdfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SrvResultadoPdfResult" type="tns:ArrayOfCERetorno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCERetorno">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CERetorno" nillable="true" type="tns:CERetorno" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CERetorno">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DesError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Resultado" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="clSeguridad" type="tns:clSeguridad" />
      <s:complexType name="clSeguridad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="stToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AutenticacionToken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="listarAtenciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TipoDocumento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaFin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarAtencionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarAtencionesResult" type="tns:ArrayOfCEAtenciones" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCEAtenciones">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CEAtenciones" nillable="true" type="tns:CEAtenciones" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CEAtenciones">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OrdenAtencion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="peticion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sede" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Medico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="especialidad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaCreacion" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Situacion" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SrvResultadoPdfSoapIn">
    <wsdl:part name="parameters" element="tns:SrvResultadoPdf" />
  </wsdl:message>
  <wsdl:message name="SrvResultadoPdfSoapOut">
    <wsdl:part name="parameters" element="tns:SrvResultadoPdfResponse" />
  </wsdl:message>
  <wsdl:message name="SrvResultadoPdfclSeguridad">
    <wsdl:part name="clSeguridad" element="tns:clSeguridad" />
  </wsdl:message>
  <wsdl:message name="listarAtencionesSoapIn">
    <wsdl:part name="parameters" element="tns:listarAtenciones" />
  </wsdl:message>
  <wsdl:message name="listarAtencionesSoapOut">
    <wsdl:part name="parameters" element="tns:listarAtencionesResponse" />
  </wsdl:message>
  <wsdl:message name="listarAtencionesclSeguridad">
    <wsdl:part name="clSeguridad" element="tns:clSeguridad" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="SrvResultadoPdf">
      <wsdl:input message="tns:SrvResultadoPdfSoapIn" />
      <wsdl:output message="tns:SrvResultadoPdfSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarAtenciones">
      <wsdl:input message="tns:listarAtencionesSoapIn" />
      <wsdl:output message="tns:listarAtencionesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SrvResultadoPdf">
      <soap:operation soapAction="http://tempuri.org/SrvResultadoPdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SrvResultadoPdfclSeguridad" part="clSeguridad" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarAtenciones">
      <soap:operation soapAction="http://tempuri.org/listarAtenciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:listarAtencionesclSeguridad" part="clSeguridad" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SrvResultadoPdf">
      <soap12:operation soapAction="http://tempuri.org/SrvResultadoPdf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SrvResultadoPdfclSeguridad" part="clSeguridad" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarAtenciones">
      <soap12:operation soapAction="http://tempuri.org/listarAtenciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:listarAtencionesclSeguridad" part="clSeguridad" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="https://precisa.pe/serviciosprecisa/SrvResultados.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="https://precisa.pe/serviciosprecisa/SrvResultados.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>